@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lyfhn0');
  src:  url('fonts/icomoon.eot?lyfhn0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lyfhn0') format('truetype'),
    url('fonts/icomoon.woff?lyfhn0') format('woff'),
    url('fonts/icomoon.svg?lyfhn0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-stack:before {
  content: "\e99b";
}
.icon-shield-check:before {
  content: "\e99c";
}
.icon-search:before {
  content: "\e99d";
}
.icon-book:before {
  content: "\e992";
}
.icon-universal-access:before {
  content: "\e993";
}
.icon-lightbulb:before {
  content: "\e995";
}
.icon-person:before {
  content: "\e996";
}
.icon-repo-contributors:before {
  content: "\e95d";
}
.icon-archive:before {
  content: "\e98d";
}
.icon-command-palette:before {
  content: "\e98e";
}
.icon-issue-opened:before {
  content: "\e98f";
}
.icon-repo-forked:before {
  content: "\e990";
}
.icon-git-commit:before {
  content: "\e991";
}
.icon-palette2:before {
  content: "\e9a1";
}
.icon-diagram-3:before {
  content: "\e99e";
}
.icon-box-seam:before {
  content: "\e99f";
}
.icon-exclamation-octagon:before {
  content: "\e9a0";
}
.icon-box-arrow-up-right:before {
  content: "\e997";
}
.icon-speedometer2:before {
  content: "\e998";
}
.icon-palette:before {
  content: "\e999";
}
.icon-cloud-upload:before {
  content: "\e99a";
}
.icon-body-text:before {
  content: "\e98c";
}
.icon-braces-asterisk:before {
  content: "\e989";
}
.icon-code:before {
  content: "\e98a";
}
.icon-journal-richtext:before {
  content: "\e98b";
}
.icon-filetype-pdf:before {
  content: "\e988";
}
.icon-clipboard:before {
  content: "\e986";
}
.icon-music-player:before {
  content: "\e987";
}
.icon-info-circle:before {
  content: "\e984";
}
.icon-trash:before {
  content: "\e985";
}
.icon-volume-mute:before {
  content: "\e983";
}
.icon-calendar-event:before {
  content: "\e97f";
}
.icon-disc:before {
  content: "\e980";
}
.icon-clock:before {
  content: "\e981";
}
.icon-info-circle-fill:before {
  content: "\e982";
}
.icon-boombox:before {
  content: "\e979";
}
.icon-cassette:before {
  content: "\e97b";
}
.icon-vinyl:before {
  content: "\e97c";
}
.icon-file-music:before {
  content: "\e97d";
}
.icon-file-earmark-music:before {
  content: "\e97e";
}
.icon-caret-down-fill:before {
  content: "\e97a";
}
.icon-sort-up:before {
  content: "\e978";
}
.icon-sort-down:before {
  content: "\e977";
}
.icon-arrow-clockwise:before {
  content: "\e96d";
}
.icon-pencil:before {
  content: "\e96e";
}
.icon-columns:before {
  content: "\e96f";
}
.icon-grid:before {
  content: "\e970";
}
.icon-music-note:before {
  content: "\e971";
}
.icon-sliders-vertical:before {
  content: "\e972";
}
.icon-three-dots-vertical:before {
  content: "\e973";
}
.icon-plus:before {
  content: "\e974";
}
.icon-heart:before {
  content: "\e975";
}
.icon-heart-fill:before {
  content: "\e976";
}
.icon-terraform:before {
  content: "\e96b";
}
.icon-prolog:before {
  content: "\e95e";
}
.icon-vim:before {
  content: "\e95f";
}
.icon-erlang:before {
  content: "\e960";
}
.icon-scala:before {
  content: "\e961";
}
.icon-awk:before {
  content: "\e962";
}
.icon-latex:before {
  content: "\e963";
}
.icon-tex:before {
  content: "\e964";
}
.icon-cmake:before {
  content: "\e965";
}
.icon-csharp:before {
  content: "\e966";
}
.icon-php:before {
  content: "\e967";
}
.icon-ruby:before {
  content: "\e968";
}
.icon-markdown:before {
  content: "\e969";
}
.icon-chevron-bar-down:before {
  content: "\e96c";
}
.icon-chevron-bar-up:before {
  content: "\e96a";
}
.icon-star:before {
  content: "\e95c";
}
.icon-background-dark:before {
  content: "\e94f";
}
.icon-mouth-dark:before {
  content: "\e951";
}
.icon-hair-dark:before {
  content: "\e952";
}
.icon-eyes-dark:before {
  content: "\e953";
}
.icon-clothes-dark:before {
  content: "\e954";
}
.icon-face-dark:before {
  content: "\e955";
}
.icon-background:before {
  content: "\e929";
  color: #000;
}
.icon-mouth:before {
  content: "\e92a";
  color: #000;
}
.icon-hair:before {
  content: "\e92b";
  color: #000;
}
.icon-eyes .path1:before {
  content: "\e92c";
  color: rgb(0, 0, 0);
}
.icon-eyes .path2:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-eyes .path3:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-eyes .path4:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-eyes .path5:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-eyes .path6:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-eyes .path7:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-clothes .path1:before {
  content: "\e934";
  color: rgb(0, 0, 0);
}
.icon-clothes .path2:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-clothes .path3:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-clothes .path4:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-clothes .path5:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-clothes .path6:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-clothes .path7:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-clothes .path8:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-clothes .path9:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-face:before {
  content: "\e93d";
  color: #000;
}
.icon-male-dark .path1:before {
  content: "\e956";
  color: rgb(219, 194, 158);
}
.icon-male-dark .path2:before {
  content: "\e957";
  margin-left: -1.2421875em;
  color: rgb(0, 0, 0);
}
.icon-male-dark .path3:before {
  content: "\e958";
  margin-left: -1.2421875em;
  color: rgb(0, 0, 0);
}
.icon-male-dark .path4:before {
  content: "\e959";
  margin-left: -1.2421875em;
  color: rgb(120, 33, 33);
}
.icon-male-dark .path5:before {
  content: "\e95a";
  margin-left: -1.2421875em;
  color: rgb(120, 33, 33);
}
.icon-male-dark .path6:before {
  content: "\e95b";
  margin-left: -1.2421875em;
  color: rgb(120, 33, 33);
}
.icon-male .path1:before {
  content: "\e93e";
  color: rgb(219, 194, 158);
}
.icon-male .path2:before {
  content: "\e93f";
  margin-left: -1.2421875em;
  color: rgb(0, 0, 0);
}
.icon-male .path3:before {
  content: "\e940";
  margin-left: -1.2421875em;
  color: rgb(0, 0, 0);
}
.icon-male .path4:before {
  content: "\e941";
  margin-left: -1.2421875em;
  color: rgb(0, 0, 0);
}
.icon-male .path5:before {
  content: "\e942";
  margin-left: -1.2421875em;
  color: rgb(0, 0, 0);
}
.icon-male .path6:before {
  content: "\e943";
  margin-left: -1.2421875em;
  color: rgb(0, 0, 0);
}
.icon-female .path1:before {
  content: "\e944";
  color: rgb(219, 194, 158);
}
.icon-female .path2:before {
  content: "\e945";
  margin-left: -1.28125em;
  color: rgb(0, 0, 0);
}
.icon-female .path3:before {
  content: "\e946";
  margin-left: -1.28125em;
  color: rgb(0, 0, 0);
}
.icon-female .path4:before {
  content: "\e947";
  margin-left: -1.28125em;
  color: rgb(254, 50, 51);
}
.icon-female .path5:before {
  content: "\e948";
  margin-left: -1.28125em;
  color: rgb(254, 50, 51);
}
.icon-female .path6:before {
  content: "\e949";
  margin-left: -1.28125em;
  color: rgb(254, 50, 51);
}
.icon-female .path7:before {
  content: "\e94a";
  margin-left: -1.28125em;
  color: rgb(254, 50, 51);
}
.icon-female .path8:before {
  content: "\e94b";
  margin-left: -1.28125em;
  color: rgb(254, 50, 51);
}
.icon-female .path9:before {
  content: "\e94c";
  margin-left: -1.28125em;
  color: rgb(254, 50, 51);
}
.icon-female .path10:before {
  content: "\e94d";
  margin-left: -1.28125em;
  color: rgb(254, 50, 51);
}
.icon-share:before {
  content: "\e94e";
}
.icon-chevron-left:before {
  content: "\e922";
}
.icon-chevron-right:before {
  content: "\e923";
}
.icon-pinterest:before {
  content: "\e924";
}
.icon-telegram:before {
  content: "\e925";
}
.icon-twitter-x:before {
  content: "\e926";
}
.icon-facebook:before {
  content: "\e927";
}
.icon-whatsapp:before {
  content: "\e928";
}
.icon-activity:before {
  content: "\e91f";
}
.icon-hourglass-split:before {
  content: "\e920";
}
.icon-patch-question:before {
  content: "\e921";
}
.icon-rocket-takeoff:before {
  content: "\e91e";
}
.icon-lightning-charge:before {
  content: "\e91d";
}
.icon-chat-square-dots:before {
  content: "\e919";
}
.icon-journal-code:before {
  content: "\e91a";
}
.icon-gear:before {
  content: "\e91b";
}
.icon-people:before {
  content: "\e91c";
}
.icon-chevron-down:before {
  content: "\e916";
}
.icon-chevron-up:before {
  content: "\e918";
}
.icon-list-ul:before {
  content: "\e915";
}
.icon-mssql:before {
  content: "\e917";
}
.icon-typescript:before {
  content: "\e914";
}
.icon-perl:before {
  content: "\e913";
}
.icon-objectivec:before {
  content: "\e912";
}
.icon-css:before {
  content: "\e910";
}
.icon-html:before {
  content: "\e911";
}
.icon-astro:before {
  content: "\e900";
}
.icon-tailwindcss:before {
  content: "\e901";
}
.icon-react:before {
  content: "\e902";
}
.icon-javascript:before {
  content: "\e903";
}
.icon-json:before {
  content: "\e904";
}
.icon-xml:before {
  content: "\e905";
}
.icon-c:before {
  content: "\e906";
}
.icon-bash:before {
  content: "\e907";
}
.icon-sqlalchemy:before {
  content: "\e908";
}
.icon-flask:before {
  content: "\e909";
}
.icon-python:before {
  content: "\e90a";
}
.icon-dot-net:before {
  content: "\e90b";
}
.icon-android:before {
  content: "\e90c";
}
.icon-java:before {
  content: "\e90d";
}
.icon-cplusplus:before {
  content: "\e90e";
}
.icon-go:before {
  content: "\e90f";
}
.icon-moon:before {
  content: "\e92e";
}
.icon-play-fill:before {
  content: "\e950";
}
.icon-volume-up:before {
  content: "\e994";
}
.icon-check2:before {
  content: "\e9a5";
}
.icon-cloud-download:before {
  content: "\e9e4";
}
.icon-shuffle:before {
  content: "\ea02";
}
.icon-pause:before {
  content: "\ea09";
}
.icon-stopwatch:before {
  content: "\ea2b";
}
.icon-mp3:before {
  content: "\ea8b";
}
.icon-linkedin:before {
  content: "\ea8d";
}
.icon-music-note-list:before {
  content: "\ea9a";
}
.icon-menu-button:before {
  content: "\eabf";
}
.icon-volume-down:before {
  content: "\ead9";
}
.icon-file-arrow-down:before {
  content: "\eaef";
}
.icon-kanban:before {
  content: "\eb00";
}
.icon-sun:before {
  content: "\eb91";
}
.icon-phone:before {
  content: "\eb9d";
}
.icon-skip-backward:before {
  content: "\ec2b";
}
.icon-bookmark-heart:before {
  content: "\ec39";
}
.icon-volume-mute-fill:before {
  content: "\ec82";
}
.icon-substack:before {
  content: "\ec9d";
}
.icon-bookmarks:before {
  content: "\ecac";
}
.icon-menu-close-button:before {
  content: "\ecf3";
}
.icon-x-lg:before {
  content: "\ed52";
}
.icon-headphones:before {
  content: "\ed60";
}
.icon-repeat-1:before {
  content: "\ee50";
}
.icon-tags:before {
  content: "\ee8e";
}
.icon-envelope-at:before {
  content: "\eea5";
}
.icon-eye:before {
  content: "\eed4";
}
.icon-x:before {
  content: "\ef0f";
}
.icon-house-heart:before {
  content: "\ef39";
}
.icon-github:before {
  content: "\efc4";
}
.icon-rss:before {
  content: "\eff9";
}
.icon-volume-off:before {
  content: "\f014";
}
.icon-skip-forward:before {
  content: "\f02d";
}
.icon-binoculars:before {
  content: "\f04f";
}
.icon-journal-bookmark:before {
  content: "\f05f";
}
.icon-repeat:before {
  content: "\f087";
}
.icon-search-heart:before {
  content: "\f0e1";
}
.icon-check-square:before {
  content: "\f0ed";
}
