@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?3ff9nz');
  src:  url('../fonts/icomoon.eot?3ff9nz#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff2?3ff9nz') format('woff2'),
    url('../fonts/icomoon.ttf?3ff9nz') format('truetype'),
    url('../fonts/icomoon.woff?3ff9nz') format('woff'),
    url('../fonts/icomoon.svg?3ff9nz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cloud-download-fill:before {
  content: "\e9e4";
}
.icon-linkedin:before {
  content: "\ea8d";
}
.icon-file-arrow-down-fill:before {
  content: "\eaef";
}
.icon-envelope-at-fill:before {
  content: "\eea5";
}
.icon-eye-fill:before {
  content: "\eed4";
}
.icon-github:before {
  content: "\efc4";
}
