@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?xe9jqg');
  src:  url('../fonts/icomoon.eot?xe9jqg#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff2?xe9jqg') format('woff2'),
    url('../fonts/icomoon.ttf?xe9jqg') format('truetype'),
    url('../fonts/icomoon.woff?xe9jqg') format('woff'),
    url('../fonts/icomoon.svg?xe9jqg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-perl:before {
  content: "\e913";
}
.icon-objectivec:before {
  content: "\e912";
}
.icon-css:before {
  content: "\e910";
}
.icon-html:before {
  content: "\e911";
}
.icon-astro:before {
  content: "\e900";
}
.icon-tailwindcss:before {
  content: "\e901";
}
.icon-react:before {
  content: "\e902";
}
.icon-javascript:before {
  content: "\e903";
}
.icon-json:before {
  content: "\e904";
}
.icon-xml:before {
  content: "\e905";
}
.icon-c:before {
  content: "\e906";
}
.icon-bash:before {
  content: "\e907";
}
.icon-sqlalchemy:before {
  content: "\e908";
}
.icon-flask:before {
  content: "\e909";
}
.icon-python:before {
  content: "\e90a";
}
.icon-dot-net:before {
  content: "\e90b";
}
.icon-android:before {
  content: "\e90c";
}
.icon-java:before {
  content: "\e90d";
}
.icon-cplusplus:before {
  content: "\e90e";
}
.icon-go:before {
  content: "\e90f";
}
.icon-moon:before {
  content: "\e92e";
}
.icon-cloud-download-fill:before {
  content: "\e9e4";
}
.icon-linkedin:before {
  content: "\ea8d";
}
.icon-file-arrow-down-fill:before {
  content: "\eaef";
}
.icon-sun:before {
  content: "\eb91";
}
.icon-envelope-at-fill:before {
  content: "\eea5";
}
.icon-eye-fill:before {
  content: "\eed4";
}
.icon-github:before {
  content: "\efc4";
}
