---
import Layout from "@/layouts/Layout.astro";
---

<Layout
	title="Alex Mbugua"
	ogImage="images/social-preview.png"
	description="Building secure, performant, scalable solutions in the cloud">
	<article class="-mt-2">
		<section class="mb-3 md:mb-6">
			<p class="text-xs text-neutral-content">
				<span class="text-success font-bold">$</span>
				<span class="ml-1 text-warning">whoami</span>
				<span class="blink">_</span>
			</p>
			<p>
				Alex is a results-driven, articulate, and analytical Full-Stack Engineer with more than 8 years of experience in
				technical architecture and development. Since 2017, Alex has focused on building secure, scalable cloud
				architectures for high-impact platforms. Alex is able to bridge the gap between technology and business and
				excels at guiding engineering teams towards delivering platform-wide tools and infrastructure that drive
				business and engineering success.
			</p>
			<p>
				Outside of work Alex hones his love for programming on unsuspecting Open Source projects, spends an exorbitant
				amount of time reverse engineering, and moonlights as a
				<a
					href="https://asce1062.github.io/"
					aria-label="visit my music site"
					target="_blank"
					rel="noopener noreferrer">
					chip musician
				</a>
				with a soft spot for 8-bit nostalgia reminiscent of the Atari and C64 gaming eras.
			</p>
		</section>

		<section>
			<p class="text-xs text-neutral-content">
				<span class="text-error font-bold">$</span>
				<span class="ml-1 text-warning">exit</span>
				<span class="blink">_</span>
			</p>
			<p>
				Thanks for stopping by. Check out my <a href="/blog" aria-label="Visit the blog page">blog</a>, see what I'm up
				to <a href="/now" aria-label="Now page">now</a>, sign the
				<a href="/guestbook" aria-label="Sign guestbook">guestbook</a>, or
				<a href="/8biticon">create your own 8-bit pixel art avatar</a>.
			</p>
		</section>
	</article>
</Layout>

<style>
	@media screen and (max-width: 767px) {
		article p {
			margin-top: 0.4em;
			margin-bottom: 0.4em;
		}
	}
</style>
