---
import Layout from "@/layouts/Layout.astro";
import GitHubContributions from "@/components/GitHubContributions.astro";
---

<Layout title="Now" ogImage="social-preview.png" description="What I'm currently focused on">
	<p>This is a <a href="https://nownownow.com/about">now page</a>.</p>
	<br />
	<h2><i class="icon-gear"></i> I'm currently working on</h2>
	<p>
		Federated authentication and secure SSO flows for enterprise platforms, improving scalability and user experience
		across the board. I'm also mentoring engineers and contributing to projects that support millions of learners.
	</p>
	<br />
	<br />
	<h2><i class="icon-journal-code"></i> I'm currently learning</h2>
	<ul>
		<li>Advanced observability and distributed tracing with Datadog.</li>
		<li>
			Astro framework by building my personal <a
				href="https://alexmbugua.me/"
				target="_blank"
				rel="noopener noreferrer">
				site
			</a>. Fully <a
				href="https://github.com/asce1062/asce1062/tree/main/asce1062"
				target="_blank"
				rel="noopener noreferrer">
				open source
			</a>.
		</li>
	</ul>
	<br />
	<br />
	<h2><i class="icon-people"></i> I'm looking to collaborate on</h2>
	<ul>
		<li>Designing multi-tenant SaaS authentication that gracefully supports both B2B and B2C flows.</li>
		<li>Initiatives building resilient infrastructure and serverless architectures.</li>
		<li>Open Source Projects in the authentication, DevTools, or EdTech space.</li>
	</ul>
	<br />
	<br />
	<h2><i class="icon-chat-square-dots"></i> Ask me about</h2>
	<p>
		Content management with Hygraph(graphQL), Auth0, SSO flows, SAML, OAuth, Terraform, serverless patterns on AWS,
		building progressive profiling flows, or streamlining engineering workflows.
	</p>
	<br />
	<br />
	<h2><i class="icon-lightning-charge"></i> Fun fact</h2>
	<p>
		When I'm not contributing to open source projects or reverse engineering things for fun, I <a
			href="https://asce1062.github.io/"
			target="_blank"
			rel="noopener noreferrer">
			compose chip music
		</a>.
	</p>
	<br />
	<br />
	<GitHubContributions username="asce1062" />
	<br />
	<blockquote>
		<p>
			<em>
				P.S. I'm open to exciting new opportunities, especially roles where authentication, infrastructure, or education
				outcomes intersect with impact-driven engineering...
			</em><i class="icon-rocket-takeoff"></i>
		</p>
	</blockquote>
	<br />
	<p>
		<small class="italic">
			This page was last updated in September 2025. Learn more about <a
				href="https://nownownow.com/about"
				target="_blank"
				rel="noopener noreferrer">
				now pages
			</a>.
		</small>
	</p>
</Layout>
