---
import Layout from "../layouts/Layout.astro";
import SearchField from "../components/SearchField.astro";
import Expand from "@/components/Expand.astro";
---

<Layout title="Search" ogImage="social-preview.png" description="Find articles, topics and ideas by Alex Mbugua">
    <section id="pagefind-search" class="py-6">
        <h1>Search</h1>
        <p class="mt-2 mb-2 italic text-palette-100 dark:text-light-200 opacity-90">Find articles, topics and ideas...</p>
        <div class="mb-8">
            <Expand title="Search Tips">
                <div slot="content">
                    <p><b><em>Indexed:</em></b> Search using content, date, description, excerpt, tag or title</p>
                    <p><b><em>Exact phrases:</em></b> Use quotes like <code>"table of contents"</code></p>
                    <p><b><em>Multiple terms:</em></b> Search for <code>astro components</code> to find posts containing both words</p>
                    <p><b><em>Fuzzy matching:</em></b> Partial matches like <code>config</code> will find <b class="italic text-sm">"configuration"</b></p>
                </div>
            </Expand>
        </div>
        <SearchField id="searchbox" />
    </section>
</Layout>
