---
import Layout from "../layouts/Layout.astro";
import SearchField from "../components/SearchField.astro";
---

<Layout title="Search" ogImage="social-preview.png" description="Find articles, topics, and ideas by Alex Mbugua">
    <section id="pagefind-search" class="py-6">
        <h1>Search</h1>
        <p class="mt-2 mb-6 italic text-palette-100 dark:text-light-200 opacity-90">Find articles, topics, and ideas...</p>
        <SearchField id="searchbox" />
    </section>
</Layout>
