---
import Layout from "../layouts/Layout.astro";
import ImageView from "../components/ImageView.astro";
---

<Layout title="success" ogImage="social-preview.png" description="Thank you for signing my guestbook!">
    <main>
        <body>
            <div class="text-center">
                <ImageView image="/src/assets/guestbook/success.png" altText="Yatta^^ やった!"/>
                <h1>Thank you for signing my guestbook!</h1>
                <p>Go back to the <a href = "/guestbook" aria-label="Visit the Guestbook page">guestbook</a> or view other pages on my site :]</p>
                <div class = "!flex !flex-wrap justify-between">
                    <a href = "/" aria-label="Visit the Home page">Home</a>
                    <a href = "/projects" aria-label="Visit the Projects page">Projects</a>
                    <a href = "/blog" aria-label="Visit the Blog page">Blog</a>
                    <a href = "/tags" aria-label="Visit the Blog Tags page">Tags</a>
                    <a href = "/guestbook" aria-label="Visit the Guestbook page">Guestbook</a>
                </div>
            </div>
        </body>
    </main>
</Layout>
