---
interface Props {
	title: string;
}
const { title } = Astro.props;
---

<section>
	<label class="h-max">
		<input class="peer/showLabel absolute scale-0" type="checkbox" />
		<span
			id="expand-content"
			class="block max-h-14 w-full overflow-hidden bg-base-200 px-4 py-shadow-lg peer-checked/showLabel:max-h-fit">
			<h3 class="flex h-14 cursor-pointer items-center font-bold">{title}</h3>
			<slot class="mb-2 overflow-auto" name="content" />
		</span>
	</label>
</section>
