---
import Layout from "../../layouts/Layout.astro";
import Columns from "../../components/Columns.astro";
import Post from '../../components/Post.astro';
import type { MarkdownInstance } from 'astro';
import type { Frontmatter } from "../../types";

const posts = Object.values(import.meta.glob<MarkdownInstance<Frontmatter>>("../blog/*.mdx", { eager: true }));
posts.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate));
---

<Layout title="Blog" ogImage="social-preview.png" description="My space on the internet. I'm happy you're here ^^">
    <main>
        <body>
            <h2>blog</h2>
            <p>I'm happy you're here ^^</p>
            <Columns>
                {posts.map(post => (
                <Post
                    name = {post.frontmatter.title},
                    url={post.url},
                    image={post.frontmatter.image.url},
                    description={post.frontmatter.description},
                    date={(post.frontmatter.pubDate).toString().slice(0,10)}/>))}
            </Columns>
        </body>
    </main>
</Layout>
