{
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro",
        "bracketSameLine": true,
        "htmlWhitespaceSensitivity": "ignore",
        "tabWidth": 4,
        "useTabs": false,
        "printWidth": 250
      }
    }
  ]
}
