---
/**
 * Displays the main avatar preview canvas with loading indicator
 */
---

<div class="preview-container">
	<canvas id="avatar-canvas" width="400" height="400"></canvas>
	<div id="loading-indicator" class="loading hidden">
		<span class="font-retro">Loading...</span>
	</div>
</div>
