---
/**
 * Radio buttons for selecting male or female avatar
 */
---

<!-- prettier-ignore -->
<div class="gender-selection">
  <label class="gender-option">
    <span class="icon-male-dark hidden dark:inline text-2xl"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></span>
    <span class="icon-male dark:hidden text-2xl"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span></span>
    <span class="font-retro">Male</span>
    <input type="radio" name="gender" value="male" checked />
  </label>
  <label class="gender-option">
    <span class="icon-female text-2xl"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span></span>
    <span class="font-retro">Female</span>
    <input type="radio" name="gender" value="female" />
  </label>
</div>
