---
/**
 * Container for layer item selection grid
 * Dynamic content is populated via JavaScript
 */
---

<div class="layer-content" id="layer-content">
	<!-- Layer items will be generated dynamically via JavaScript -->
</div>
