---
/**
 * Tab navigation for different avatar layers (face, clothes, hair, etc.)
 */
---

<div class="layer-tabs">
    <button class="layer-tab active" data-layer="face">
        <b>
            <i class="icon-face-dark text-3xl"></i>
        </b>
        <span class="layer-tab-text">Face</span>
    </button>
    <button class="layer-tab" data-layer="clothes">
        <b>
            <i class="icon-clothes-dark text-3xl"></i>
        </b>
        <span class="layer-tab-text">Clothes</span>
    </button>
    <button class="layer-tab" data-layer="hair">
        <b>
            <i class="icon-hair-dark text-3xl"></i>
        </b>
        <span class="layer-tab-text">Hair</span>
    </button>
    <button class="layer-tab" data-layer="eye">
        <b>
            <i class="icon-eyes-dark text-3xl"></i>
        </b>
        <span class="layer-tab-text">Eyes</span>
    </button>
    <button class="layer-tab" data-layer="mouth">
        <b>
            <i class="icon-mouth-dark text-3xl"></i>
        </b>
        <span class="layer-tab-text">Mouth</span>
    </button>
    <button class="layer-tab" data-layer="background">
        <b>
            <i class="icon-background-dark text-3xl"></i>
        </b>
        <span class="layer-tab-text">Background</span>
    </button>
</div>
