---
/**
 * Previous and next blog post links
 */

import type { CollectionEntry } from "astro:content";

interface Props {
	previousPost: CollectionEntry<"blog"> | null;
	nextPost: CollectionEntry<"blog"> | null;
}

const { previousPost, nextPost } = Astro.props;
---

<div data-pagefind-ignore class="grid grid-cols-1 gap-6 sm:grid-cols-2">
	{
		previousPost && (
			<a
				href={`/blog/${previousPost.id}`}
				class="no-underline flex w-full gap-1 hover:bg-transparent hover:dark:bg-transparent hover:dark:text-inherit hover:opacity-75">
				<i class="icon-chevron-left text-xl" />
				<div>
					<b class="text-palette-800">Previous Post</b>
					<div class="text-sm text-accent/85">{previousPost.data.title}</div>
				</div>
			</a>
		)
	}
	{
		nextPost && (
			<a
				href={`/blog/${nextPost.id}`}
				class="no-underline flex w-full justify-end gap-1 text-right sm:col-start-2 hover:bg-transparent hover:dark:bg-transparent hover:dark:text-inherit hover:opacity-75">
				<div>
					<b>Next Post</b>
					<div class="text-sm text-accent/85">{nextPost.data.title}</div>
				</div>
				<i class="icon-chevron-right text-xl" />
			</a>
		)
	}
</div>
