---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Change Password" ogImage="social-preview.png" description="Well-known URL for changing passwords">
	<h2>Change Password</h2>
	<p>
		This site does not take credentials and has no authenticated section(s). For more, read the <a
			href="https://w3c.github.io/webappsec-change-password-url/"
			>w3c specification proposal for A Well-Known URL for Changing Passwords</a
		>.
	</p>
</Layout>
