---
import { siteMetadata } from "@/data/navigation";

const colours = [
	"bg-base-200",
	"bg-base-300",
	"bg-primary",
	"bg-secondary",
	"bg-accent",
	"bg-info",
	"bg-success",
	"bg-warning",
	"bg-error",
];
---

<footer>
	<hr class="w-full h-[1.875px] my-4 border-0 bg-base-300" aria-hidden="true" />
	<div class="mx-auto">
		{colours.map((colour) => <span class={`inline-block h-8 w-[10%] ${colour}`}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>)}
		<!-- prettier-ignore-start -->
		<span class="block pt-2 text-xs italic">
			{
				siteMetadata.commitHash && (
					<>
						<i class="icon-git-commit text-base inline-block translate-y-1" />
						<a href={siteMetadata.commitUrl} target="_blank" rel="noopener noreferrer">
							{siteMetadata.commitHash}
						</a>
					</>
				)
			} • <a class="decoration-wavy decoration-1" href={siteMetadata.astroUrl} target="_blank" rel="noopener noreferrer"
				><i class="icon-astro"></i></a
			> • {new Date(siteMetadata.buildTime).toLocaleDateString()}
		</span>
		<!-- prettier-ignore-end -->
	</div>
</footer>
