<details id="privacy-policy-details">
  <summary id="privacy-policy"><strong>Privacy Policy</strong></summary>
  <p>I <b><em>do not track you</em></b>, I <b><em>do not run analytics</em></b>, I <b><em>do not set cookies</em></b></p>
  <p>I <b><em>do write to session storage</em></b>, so that you don't get surprised when your <b><em>chosen dark/light modes</em></b> turn on or off as you navigate around the site. This disappears the moment you close the tab, or browse away.</p>
  <p>The <b><em>only data I receive from you</em></b>, is that <b><em>which you freely give me</em></b> through the <b><em>email</em></b> or <b><em>guestbook forms</em></b>.</p>
  <p>Because doing contact forms properly for static sites is surprisingly complicated, these are powered by <a href="https://www.netlify.com/platform/core/forms/">Netlify Forms</a>, which sends the input through <a href="https://akismet.com/">Akismet</a> spam filtering. Should you want a copy or would like me to delete anything you sent me;</p>
  <p>Contact me directly on email: <a class="icon" href="mailto:alex.mbugua@outlook.com">alex.mbugua@outlook.com</a></p>
  <p>Raise an issue in the repo <a class="icon" href="https://github.com/asce1062/asce1062/issues">asce1062/issues</a></p>
  <p>Or whichever way you prefer to ask for this - I will happily oblige.</p>
</details>
