---
const { skillsSections } = Astro.props;
import type { SkillsSection, SkillCategory } from "@/types";
---

<div class="space-y-6">
	{
		skillsSections.map((section: SkillsSection) => (
			<div>
				<h1 class="font-bold mb-1 text-warning underline decoration-4">{section.sectionTitle}</h1>

				{section.items && (
					<div class="mt-4 space-y-2 text-sm text-base-content">
						{section.items.map((item: string) => (
							<div class="p-1 ml-0 mr-2 inline-block badge badge-secondary badge-lg">{item}</div>
						))}
					</div>
				)}

				{section.categories && (
					<div>
						{section.categories.map((category: SkillCategory) => (
							<div class="mt-4">
								<h3 class="mb-1 badge badge-neutral badge-sm underline decoration-wavy decoration-1 underline-offset-2">
									{category.categoryTitle}
								</h3>
								<div class="flex flex-wrap gap-2">
									{category.skills.map((skill: string) => (
										<code class="text-xs badge badge-success badge-lg">{skill}</code>
									))}
								</div>
							</div>
						))}
					</div>
				)}
			</div>
		))
	}
</div>
