---

---

<button id="theme-toggle-btn" class="float-right h-7 w-7 md:h-8 md:w-8 rounded-md transition-all duration-100" aria-label="Switch page theme">
    <i id="toggleIcon" class=""></i>
</button>

<script>
    import { initThemeSwitcher, handleThemeToggle } from "@/scripts/themeManager";

    // Initialize theme icon on DOM ready
    document.addEventListener("DOMContentLoaded", () => {
        initThemeSwitcher();
    });

    // Handle theme toggle button click
    const themeButton = document.getElementById("theme-toggle-btn");
    themeButton?.addEventListener("click", () => {
        handleThemeToggle();
    });
</script>
